@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {
    --cor01: #0A3FF8;
    --cor02: #0ac4c0;
    --cor03: #0B97DE;
    --cor04: #0B28DE;
    --cor05: #00EBBA;

    --fontetitulo: 'Roboto', sans-serif;
    --fonte02: 'Titillium Web', sans-serif;
    --fonttext: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
h1{
    font-family: var(--fontetitulo);
}
a, li {
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    margin: 10px;
}
a:hover{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
a:visited {
    text-decoration: none;
    color: white;
}

.logo {
    width: 300px;
    padding-top: 5%;
}

.header {
    box-sizing: border-box;
    height: 90px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(-90deg,var(--cor01),var(--cor02));
}

.menu {
    display: flex;
    list-style: none;
}
.menu > li {
    margin: 10px;
}

.menu > a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}
.fa-bars {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}
.devider {
    border-top: 3px solid black;
    display: block;
    line-height: 1px;
    position: relative;
    text-align: center;
}
div{
    margin: auto;
}
.perfil{
    margin-top: 20px;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
}
.imagem, img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 100%;
    margin-right: 20px;
}
.informacoes{
    margin-top: 10px;
    line-height: 35px;
    font-family: var(--fonttext);
    font-size: 18px;
}
.informacoes > p{
    margin-top: 5px;
}
#txtmaisinfo{
    text-align: center;
}
.maisinfo{
    margin-top: 10px;
    text-align: center;
    display: flex;
    height: 200px;
    font-family: var(--fonttext);
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 40px;
}
footer {
    background-color: #0A3FF8;
    color: white;
    font-family: var(--fonte02);
    margin-top: 100px;
}
.info{
    text-align: right;
    padding: 10px;
}
.contato,.copy{
    padding: 20px;
}
.cursosfeitos{
    display: flex;
}
.txtcurso{
    text-align: center;
    margin-top: 50px;
}
.cursoum {
    background-color: #2a7eb2;
    margin-top: 50px;
    height: 150px;
    width: 300px;
    background-image: url(../imagens/python\ \(1\)\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.317);
    cursor: pointer;
}
.cursodois {
    background-color: #2a7eb2;
    margin-top: 50px;
    height: 150px;
    width: 300px;
    background-image: url(../imagens/html-5\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.317);
    cursor: pointer;
}
.cursotres {
    background-color: #2a7eb2;
    margin-top: 50px;
    height: 150px;
    width: 300px;
    background-image: url(../imagens/script-java\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.317);
    cursor: pointer;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 4%;
    overflow: hidden;
    background-color: var(--cor03);
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
    height: 150px;
    margin-left: 10px;

}
h2{
    text-align: center;
    font-family: var(--fontetitulo);
}
p {
    font-family: var(--fonttext);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.titulo-wrapper {
    font-family: 'Roboto', sans-serif;
    color:  var(--cor03);
    font-size: 3.5em;

}


.texto-paragrafo {
    font-family: var(--fonttext);
    font-size: 1.3em;
    color: #404040;
    line-height: 30px;
    text-align: justify;
}

.titulo-modulo {
    margin: 0;
    grid-column: 1 / 5; 
    text-align: center;
}

.titulo-card {
    font-family: 'Roboto', sans-serif;
    margin: 3%;
    color: #ffffff;
}

.horas-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em; 
    color: #ffffff;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1.5%;
}
.horas{
    margin-top: 20px;
}
.icone{
    display: flex;
}
.botaosair{
    background-color: var(--cor05);
    color: black;
    border: none;
    border-radius: 30px;
    padding: 15px;
    width: 200px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.317);
    font-family: 'Roboto', sans-serif;
    margin-left: 40%;
}
.botaosair > a{
    color: black;
}
.editar{
    cursor: pointer;
}
.editar:hover{
    cursor: pointer;
}
@media(max-width: 940px) {
    .menu {
        position: absolute;
        width: 60%;
        top: 70px;
        right: 0px;
        background-image: linear-gradient(-90deg,var(--cor01),#0a8ad9);
        z-index: 10000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        align-items: center;
        flex-direction: column;
    }
    #nav.active #linha {
        display: none;
    }
    #nav.active .menu {
        height: 270%;
        visibility: visible;
        overflow-y: auto;
    }
    .menu > li {
        margin-top: 60px;
    }

    #btn-mobile {
        display: block;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    #hamburguer {
        display: block;
    }
    .cursosfeitos{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
}
@media(max-width: 640px){
    .perfil{
        display: block;
    }
    .imagem{
        margin: 0px;
    }
    .informacoes{
        padding: 10px;
        margin-top: 30px;
    }
    .maisinfo{
        display: block;
        margin-bottom: 100px;
    }
}