@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {
    --cor01: #204ff8;
    --cor02: #0ac4c0;
    --cor03: #0B97DE;
    --cor04: #0B28DE;
    --cor05: #00EBBA;

    --fontetitulo: 'Roboto', sans-serif;
    --fonte02: 'Titillium Web', sans-serif;
    --fonttext: 'Crimson', serif;

}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
a {
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    margin: 10px;
}
a:hover{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
a:visited {
    text-decoration: none;
    color: white;
}

.logo {
    width: 300px;
    padding-top: 5%;
}


.header {
    box-sizing: border-box;
    height: 90px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(-90deg,var(--cor01),var(--cor02));
}

.menu {
    display: flex;
    list-style: none;
}
.menu > li {
    margin: 10px;
}

.menu > a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}
.fa-bars {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}



.background {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 0 1 900px;
    margin: auto;
    padding: 10px;
  }

.container-texto {
    position: relative;
     top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.botao {
    background-color: var(--cor05);
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.317);
    font-family: 'Roboto', sans-serif;
}
.botao:hover {
    background-color: #35cfae;
    cursor: pointer;
    
}

.paragrafo-input {
    font-size: 1.15em;
}

.caixa-texto {
    font-size: 1em;
    margin: 0 1%;
    height: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 5px;
    font-family: 'Segoe UI'
}

#caixa-texto-mensagem {
    font-size: 1em;
    margin: 0 1%;
    height: 120px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 5px;
    font-family: 'Segoe UI'
}

#titulo1 {
    margin: 5% 2%;
    font-size: 3em;
    font-family: var(--fontetitulo);
    color: var(--cor03);
}

#titulo2 {
    margin: 2% 2%;
    font-size: 1.8em;
    font-family: var(--fontetitulo);
    color: var(--cor03);
}

p {
    margin: 1% 2%;
    font-size: 1.2em;
    font-family: var(--fonte02);
}

input:focus {
    outline: none !important;
    border-color: var(--cor03);
    box-shadow: 0 0 5px #8096af;
}
textarea{
    resize: none;
}

textarea:focus {
    outline: none !important;
    border-color: var(--cor03);
    box-shadow: 0 0 5px var(--cor01);
}
.contato,.copy{
    padding: 20px;
}
.copy{
    margin-bottom: 0px;
}
footer {
    background-color: #0A3FF8;
    color: white;
    font-family: var(--fonte02);
    margin-top: 50px;
}
.info{
    text-align: right;
    padding: 10px;
}
@media (max-width: 940px) {
    .menu {
        position: absolute;
        width: 60%;
        top: 70px;
        right: 0px;
        background-image: linear-gradient(-90deg,var(--cor01),#0a8ad9);
        z-index: 10000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        align-items: center;
        flex-direction: column;
    }
    #nav.active #linha {
        display: none;
    }
    #nav.active .menu {
        height: 231%;
        visibility: visible;
        overflow-y: auto;
    }
    .menu > li {
        margin-top: 60px;
    }

    #btn-mobile {
        display: block;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    #hamburguer {
        display: block;
    }
    .wrapper{
        display: block;
    }
}
@media(max-width: 900px){
    .wrapper-cards{
        display: block;
    }
}
@media(max-width: 500px){
    .linha{
        display: block;
    }
    .coluna{
        margin-top: 120px;
        margin-bottom: 0px;
    }
    #coluna2{
        margin-top: 0px;    
    }
}